 /* ------ fonts ------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    /* font-family: Arial, sans-serif; */
}

/*----------HEADER----------*/

header {
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(10,115,64,1) 0%, rgba(0,255,141,1) 50%, rgba(0,170,219,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 1s ease;
}

header .logo:hover{
    transform: scale(1.08);
    transition: transform 0.5s;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo a{
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:hover {
    transform: scale(1.08);
    transition: transform 0.5s;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #333;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}


/*----------MAIN----------*/

.texto-destacado {
    font-size: 1.2rem;
    font-weight: bold;
    color:  rgba(10,115,64,1);
    
}

.seccion-1, .seccion-nosotros, .seccion-faq {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.seccion-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%; 
}


.seccion-2 div {
    text-align: center;
    width: 48%;
    margin-bottom: 20px;
}

.seccion-2 img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.seccion-2 h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.seccion-2 p {
    color: #666;
    font-size: 0.9em;
}

.seccion-1, .seccion-2 {
    opacity: 0.7;
    transition: opacity 0.6s ease;
}
.seccion-1.aparecer, .seccion-2.aparecer {
    opacity: 1;
}

.seccion-iframe {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.seccion-iframe div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-iframe h3 {
    margin-bottom: 20px;
}

.seccion-iframe iframe {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {

    .seccion-1, .seccion-2, .seccion-iframe, .seccion-nosotros, secc{
        padding-left: 20px;
        padding-right: 20px;
    }

    .seccion-2 div {
        width: 100%;
    }

    .seccion-iframe h3 {
        font-size: 1.2em;
    }

    .seccion-iframe iframe {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 480px) {

    .seccion-1, .seccion-2, .seccion-iframe{
        padding-left: 20px;
        padding-right: 20px;
    }

    .seccion-iframe {
        padding: 10px;
    }

    .seccion-iframe h3 {
        font-size: 1em;
    }

    .seccion-iframe iframe {
        width: 80%;
        height: auto;
    }
    
}



/*----------FOOTER----------*/

footer {
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(10,115,64,1) 0%, rgba(0,255,141,1) 50%, rgba(0,170,219,1) 100%);
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
}

footer p span {
    font-weight: bold;
}

@media (max-width: 768px) {
    footer nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer nav ul li {
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}


/*----------BOTON TOP----------*/

#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #003f5e;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    width: 50px;
}

#btnTop:hover {
    background-color: #00ff7b;
    color: #000000;
}

/*----------CONTACTO----------*/

.formContacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContacto:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.formContacto h1 {
    text-align: center;
    color: #333;
}

.formContacto form {
    display: flex;
    flex-direction: column;
}

.formContacto label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

.formContacto input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formContacto input[type="checkbox"] {
    margin-top: 0;
}

.formContacto button {
    margin-top: 20px;
    padding: 10px;
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(10,115,64,1) 0%, rgba(0,255,141,1) 100%);
    color: #eee;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formContacto button:hover {
    background: rgb(0,170,219);
    background: linear-gradient(90deg, rgba(0,170,219,1) 0%, rgba(0,255,141,1) 100%);
    color: #333;
}

.formContacto .imagen-seguridad {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    max-width: 180px;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .formContacto{
        padding: 15px;
        margin: 20px;
    }

    .formContacto input, select, textarea {
        padding: 8px;
    }

    .formContacto button {
        padding: 10px;
    }

    .formContacto .imagen-seguridad {
        width: 100%;
        max-width: 100%;
    }
}

/*----------NOSOTROS----------*/

.team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.team-member {
    text-align: center;
    margin: 20px;
    flex: 1 1 200px;
}

.team-member img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 0;
    font-size: 1.2em;
}

.team-member p {
    margin: 0;
    font-size: 1em;
    color: #666;
}


.parallax-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(10,115,64,1) 0%, rgba(0,255,141,1) 50%, rgba(0,170,219,1) 100%);
}

.parallax-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
    transition: transform 1.5s ease;
}

.banner-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .banner-message {
        padding: 10px;
        font-size: 1rem;
    }

    .banner-message h1 {
        font-size: 2rem;
    }

    .banner-message p {
        font-size: 1rem;
    }
}

/*----------PREGUNTAS FRECUENTES----------*/

.faq-panel {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.faq-panel:hover{
    transform: scale(1.02);
    transition: transform 0.5s;
}
.faq-panel-header {
    padding: 10px;
    cursor: pointer;
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(10,115,64,1) 0%, rgba(0,255,141,1) 100%);
    border-bottom: 1px solid #ccc;
    color: white;
    font-weight: 600;
}
.faq-panel-header:hover {
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(0,170,219,1) 0%, rgba(0,255,141,1) 100%);
    color: black;

}
.faq-panel-content {
    display: none;
    padding: 10px;
    background-color: #ccc;
}
.faq-panel.open .faq-panel-content {
    display: block;
}

/*----------API DOLAR----------*/

.dolar-section{
    padding-top: 50px;
}

.dolar-section h2{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    word-spacing: normal;
}

#dolar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.dolar-item {
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(10,115,64,1) 0%, rgba(0,255,141,1) 100%);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: calc(100% - 40px);
    box-sizing: border-box;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dolar-item:hover{
    background: rgb(10,115,64);
    background: linear-gradient(90deg, rgba(0,170,219,1) 0%, rgba(0,255,141,1) 100%);
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    transition: transform 1.3s;
    font-weight: 600;
}

.dolar-item h3 {
    margin: 0 0 10px 0;
}
.dolar-item p {
    margin: 0;
}

@media(min-width: 768px) {
    .dolar-item {
        width: calc(50% - 40px);
    }
}


/*----------PAGE EXITO----------*/

.pageExito{
    background-color: #eee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxPageExito{
    text-align: center;
}

.mensaje-grande {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(10,115,64);
    margin-bottom: 20px;
}

.mensaje-mediano {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 30px;
}

.imagen-exito {
    display: block;
    margin: 0 auto 30px;
    max-width: 100%;
    height: auto;
}

.mensaje-chico {
    font-size: 0.8em;
    color: #555;
}